body {
	background: #2d2d30;
	cursor: default;
	margin: 0px;
	overflow: hidden;
}

button {
	background: #333337;
	border: 0px;
	color: #fff;
	padding: 2px;
}

button:hover {
	background: #3f3f46;
}

button:active {
	background: #007acc;
}

button.active {
	background: #007acc;
}

input {
	background: #333337;
	color: #fff;

	border: 0px;
	margin: 4px 0;
	margin-top: 12px;
	width: 300px;
}

#window {
	background: #252526;
	border: 1px solid #3f3f46;

	width: 400px;
	height: 180px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -200px;
}

#control {
	background: #1b1b1c;
	padding: 6px;
}

#result {
	color: #fff;
	font-family: trebuchet ms;
	font-size: 16pt;
	margin-top: 25px;
}
